@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --main-azul-color: #031E43;
  --secundary-azul-color: #051C3B;
  --main-rosa-color: #FC4158;
  --secundary-rosa-color: #d43649;
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body{
    min-width: 300px;
}

.active{
    fill: #d43649;
}

/*SCROLL*/

::-webkit-scrollbar {
    width: 10px;     /* Tamaño del scroll en vertical */
    height: 10px;    /* Tamaño del scroll en horizontal */
}
  
::-webkit-scrollbar-thumb {
    background: #0a2952;
    border-radius: 5px;
    border: 1px solid #ffffff0c;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.400);
}
  
::-webkit-scrollbar-thumb:hover{
    background: #0b2e5c;
}
  
::-webkit-scrollbar-track {
    background: var(--main-azul-color);
}

/*GENERALES*/

input {
    outline: none;
}

button {
    outline: none;
}

.SeccionContainer{
    box-sizing: border-box;
    padding: 50px 650px 50px 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-azul-color);
    min-height: 100vh;
}

.SubSeccionContainer{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.Icon{
    background-color: var(--main-rosa-color);
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.300);
    cursor: pointer;
    position: relative;
}

.Icon:hover{
    background-color: var(--secundary-rosa-color);
    bottom: 5px;
}

.IconContaco{
    height: 40px;
}

.TituloMain{
    font-weight: bold;
    font-size: 75px;
    line-height: 129.5%;
    color: white;
}

.TituloSecundario{
    color: white;
    font-size: 20px;
    line-height: 158.5%;
    letter-spacing: 0.57em;
}

.Titulo3{
    font-size: 35px;
    line-height: 111.9%;
    letter-spacing: -0.01em;
    color: white;
    margin: 10px 0;
    max-width: 650px;
}

.Titulo4{
    font-weight: bold;
    font-size: 25px;
    line-height: 158.5%;
    letter-spacing: 0.04em;
    color: white;
}

.ColorRosa{
    color: var(--main-rosa-color);
}

/*MENU*/

.MenuHorizontal{
    position: fixed;
    width: 70px;
    background-color: var(--secundary-azul-color);
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 200px 0;
    box-sizing: border-box;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.600);
    z-index: 1500;
}

.MenuIcon{
    height: 35px;
    margin: 10px 0;
}

.MenuHorizontalDezplegable{
    width: 300px;
    background-color: var(--secundary-azul-color);
    height: 100vh;
}

.MenuContainer{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1500;
}

.MenuTitulo{
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MenuTituloText1{
    font-weight: 600;
    font-size: 26px;
    line-height: 80%;
    text-align: center;
    letter-spacing: -0.025em;
    color: var(--main-rosa-color);
}

.MenuTituloText2{
    margin-top: 8px;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 80%;
    letter-spacing: 0.25em;
}

.MenuVertical{
    box-sizing: border-box;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 50px;
    width: 600px;
    background-color: var(--secundary-azul-color);
    min-height: 500px;
    z-index: 1100;
}

.MenuVerticalText{
    color: white;
    font-weight: 600;
    font-size: 25px;
    line-height: 80%;
    text-align: center;
    letter-spacing: 0.21em;
    cursor: pointer;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    transition: .3s;
}

.MenuActive{
    background-color: var(--main-rosa-color);
    border-radius: 100px;
}

/*MOUSE*/

.MouseContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 539px;
    top: -50px;
    justify-content: center;
    align-items: center;
    height: 100%;
    animation: mouse .6s infinite alternate;
    z-index: 1600;
}

@keyframes mouse{
  from {
    top: 0px;
  }
  to{
    top: -10px;
  }
}

.Mouse{
    width: 45px;
    margin-bottom: 5px;
}

.MouseContainer p{
    color: white;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.11em;
}

/*REDES*/

.Redes{
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
}

.Redes a{
    margin-right: 15px;
}

/*PROYECTOS*/

.ListaProyectos{
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Proyectos{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: auto;
    grid-gap: 30px;
    width: 100%;
}

.ProyectoItem{
    width: 100%;
    height: auto;
    background-color: var(--main-rosa-color);
    border-bottom: 6px solid var(--main-rosa-color);
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.200);
    z-index: 800;
}

.ProyectoItem img{
    width: 100%;
}

.Flecha{
    width: 45px;
    transform: rotate(-90deg);
    margin: 10px;
}

.VerMas{
    margin-left: 50px;
}

/*hover*/

.ProyectoItem:hover .PytInformacion{
    display: flex;
}

.ProyectoItem img:hover{
    transform: scale(2, 0.5);
}

.PytInformacion{
    background-color: #051c3bcb;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    border-bottom: 6px solid var(--main-rosa-color);
    backdrop-filter: blur(2px);
    cursor: pointer;
}

.PytInformacion_Titulo{
    color: white;
    font-size: 25px;
    font-weight: 500;
}

.PytInformacion_Subtitulo{
    color: white;
    text-align: center;
    line-height: 145%;
    font-weight: 300;
    font-size: 20px;
    margin: 8px 0;
}

.PytInformacion_Boton{
    text-decoration: none;
    border-radius: 15px;
    padding: 6px;
    background-color: var(--main-rosa-color);
    color: white;
    cursor: pointer;
    margin: 0 10px;
    width: 90px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.200);
    font-size: 14px;
}

.PytInformacion_Boton:hover{
    background-color: var(--secundary-rosa-color)
}

/*CONTACTO*/

.Formulario{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px 0px;
}

.Formulario_Label{
    color: var(--main-rosa-color);
    font-size: 20px;
}

.Formulario_Input{
    border-style: none;
    border-radius: 35px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin: 7px 0 15px 0;
    border-bottom: 2px solid white;
    font-size: 15px;
    border: 1.5px solid transparent;
}

.Formulario_Input:focus{
    border: 1.5px solid var(--main-rosa-color);
}

.Input_Mensaje{
    height: 200px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    resize: none;
    width: 100%;
    margin-bottom: 15px;
    border-style: none;
    outline: none;
    border: 1.5px solid transparent;
}

.Input_Mensaje:focus{
    border: 1.5px solid var(--main-rosa-color);
}

.Formulario_Boton{
    width: 100%;
    border-style: none;
    border-radius: 35px;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--main-rosa-color);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.Formulario_Boton:hover{
    background-color: var(--secundary-rosa-color)
}

.Formulario_Datos{
    display: flex;
    gap: 20px;
}

.Formulario_Dato{
    width: 100%;
}

/*NOTIFICACION POPUP*/

.Notificacion_Contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3000;
}

.Notificacion{
    z-index: 3000;
    position: fixed;
    top: 50px;
    background-color: white;
    width: auto;
    padding: 7px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.300);
    display: flex;
    align-items: center;
}

.Notificacion img{
    margin-right: 7px;
}

.Notificiacion_Texto{
    color: var(--main-azul-color);
    font-size: 20px;
    font-weight: 500;
}

/*RESPONSIVE*/
@media (max-width:1800px){
    .PytInformacion_Titulo{
        font-size: 20px;
    }
    .PytInformacion_Subtitulo{
        font-size: 17px
    }
}
@media (max-width:1700px){
    .PytInformacion{
        padding: 10px;
    }
    .PytInformacion_Boton{
        padding: 4px;
    }
    .PytInformacion_Subtitulo{
        line-height: 130.9%;
    }
}
@media (max-width:1600px){
    .PytInformacion_Titulo{
        font-size: 14px;
    }
    .PytInformacion_Subtitulo{
        font-size: 16px;
        line-height: 110.9%;
    }
    .Formulario{
        width: 80%;
    }
}
@media (max-width: 1500px) {
    .MenuVertical{
        width: 500px;
    }
    .MouseContainer{
        right: 439px;
    }
    .SeccionContainer{
        padding: 50px 550px 50px 50px;
    }
}
@media (max-width: 1400px) {
    .MenuVertical{
        width: 450px;
    }
    .SeccionContainer{
        padding: 50px 500px 50px 50px;
    }
    .MouseContainer{
        right: 389px;
    }
    .TituloMain{
        font-size: 60px;
    }
    .TituloSecundario{
        font-size: 20px;
    }
    .Titulo3{
        font-size: 30px;
    }
    .Titulo4{
        font-size: 25px;
    }
    .PytInformacion_Titulo{
        font-size: 15px;
    }
    .PytInformacion_Subtitulo{
        font-size: 14px;
        line-height: 100.9%;
    }
    .PytInformacion_Boton{
        padding: 3px;
    }
}
@media (max-width:1300px){
    .Proyectos{
        grid-gap: 25px;
    }
    .VerMas{
        margin-left: 25px;
    }
    .PytInformacion_Titulo{
        font-size: 14px;
    }
    .PytInformacion_Subtitulo{
        font-size: 13px;
        line-height: 100.9%;
    }
}
@media (max-width: 1200px) {
    .MenuTitulo{
        right: 20px;
    }
    .MenuVertical{
        width: 350px;
        padding: 20px;
    }
    .MouseContainer{
        right: 289px;
    }
    .SeccionContainer{
        padding: 50px 400px 50px 50px;
    }
}
@media (max-width:1100px){
    .MenuVertical{
        width: 280px;
        padding: 20px;
    }
    .SeccionContainer{
        padding: 50px 330px 50px 50px;
    }
    .MouseContainer{
        display: none;
    }
    .ListaProyectos{
        flex-direction: column;
        align-items: flex-start;
    }
    .VerMas{
        margin-top: 35px;
        margin-left: 0px;
    }
    .PytInformacion_Titulo{
        font-size: 17px;
    }
    .PytInformacion_Subtitulo{
        font-size: 15px;
    }
}
@media (max-width: 1000px) {
    .MenuVerticalText{
        font-size: 22px;
        height: 47px;
    }
    .MenuVertical{
        width: 260px;
    }
    .SeccionContainer{
        padding: 50px 310px 50px 50px;
    }
    .MouseContainer{
        display: none;
    }
    .TituloMain{
        font-size: 60px;
    }
    .TituloSecundario{
        font-size: 20px;
    }
    .PytInformacion_Titulo{
        font-size: 14px;
    }
    .PytInformacion_Subtitulo{
        font-size: 13px;
    }
}
@media (max-width: 900px){
    .MenuVertical{
        display: none;
    }
    .MenuHorizontal{
        display: flex;
    }
    .Icon{
        width: 55px;
        height: 55px;
    }
    .Icon img{
        height: 35px;
    }
    .SeccionContainer{
        padding: 30px 100px 30px 30px;
    }
    .Titulo3{
        margin: 5px 0;
    }    
    .PytInformacion_Titulo{
        font-size: 15px;
    }
    .PytInformacion_Subtitulo{
        font-size: 13px;
        margin: 5px 0;
    }
    .PytInformacion_Boton{
        font-size: 12.5px;
    }
}
@media (max-width: 700px) {
    .MenuHorizontal{
        width: 100%;
        height: 60px;
        padding: 0 0;
        bottom: 0;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .MenuIcon{
        height: 35px;
        margin: 0;
    }
    .SeccionContainer{
        padding: 20px 20px 80px 20px;
    }
    .TituloMain{
        font-size: 50px;
    }
    .Titulo3{
        margin: 0;
    }
    .PytInformacion_Titulo{
        font-size: 15px;
    }
    .PytInformacion_Subtitulo{
        font-size: 13.5px;
    }
    .Formulario{
        width: 100%;
    }
    .Formulario_Datos{
        flex-direction: column;
        gap: 0;
    }
}
@media (max-width: 600px){
    .Titulo3{
        font-size: 27px;
    }
    .Titulo4{
        font-size: 22px;
    }
    .Icon{
        width: 50px;
        height: 50px;
    }
    .Icon img{
        height: 30px;
    }
    .PytInformacion{
        padding: 3px;
    }
    .PytInformacion_Titulo{
        font-size: 11.5px;
    }
    .PytInformacion_Subtitulo{
        font-size: 11.5px;
    }
    .PytInformacion_Boton{
        width: auto;
        font-size: 11px;
    }
}
@media (max-width: 500px){
    .TituloMain{
        font-size: 45px;
        
    }
    .TituloSecundario{
        font-size: 17px;
        
    }
    .MenuHorizontal{
        height: 55px;
    }
    .SeccionContainer{
        padding: 15px 15px 75px 15px;
    }
    .MenuIcon{
        height: 30px;
        margin: 10px 0;
    }
    .Titulo3{
        font-size: 23px;
        
    }
    .Titulo4{
        font-size: 19px;
        
    }
    .ListaProyectos{
        margin-top: 10px;
    }
    .Proyectos{
        grid-template-columns: 2fr;
    }
    .ProyectoItem{
        width: 100%;
        height: auto;
    }
    .PytInformacion_Titulo{
        font-size: 18px;
    }
    .PytInformacion_Subtitulo{
        font-size: 16px;
    }
    .PytInformacion_Boton{
        padding: 6px;
        font-size: 13px;
        margin: 10px;
    }
}
@media (max-width:400px){
    .TituloMain{
        font-size: 42px;
    }
    .TituloSecundario{
        font-size: 13px;
    }
    .Titulo3{
        font-size: 20px;
    }
    .Titulo4{
        font-size: 15px;
    }
    .MenuHorizontal{
        height: 45px;
    }
    .SeccionContainer{
        padding: 7px 7px 52px 7px;
    }
    .MenuIcon{
        height: 25px;
    }
    .PytInformacion_Titulo{
        font-size: 16px;
    }
    .PytInformacion_Subtitulo{
        font-size: 14px;
    }
    .PytInformacion_Boton{
        padding: 4px;
        font-size: 13px;
        margin: 7px;
    }
}
@media (max-width:350px){
    .TituloMain{
        font-size: 35px;
    }
}
@media (max-height:800px){
    .Input_Mensaje{
        height: 150px;
    }
}
@media (max-height:600px){
    .Redes{
        margin: 10px 0 0 0;
    }
}